<div class="container-fluid">

	<header class="container">
		<nav class="navigation-main navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" routerLink="home">Angular Auth</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggler">

				<ul class="navbar-nav ml-md-auto">
					<li class="nav-item">
						<a class="nav-link" routerLink="signin" routerLinkActive="active">Sign In
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="signup" routerLinkActive="active">Sign Up</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>

	<main>
		<router-outlet></router-outlet>
	</main>

	<footer class="container">
		<nav class="navigation-footer navbar navbar-dark bg-primary fixed-bottom">
			<a class="navbar-brand" href="https://github.com/SheshoVega" target="_blank">by Sergio Vega @SheshoVega</a>
		</nav>
	</footer>


</div><!-- end .container-fluid -->