<div class="signup-box row justify-content-md-center">

	<form class="signup-form col-12 col-md-6 card">

		<h1>Sign Up</h1>

		<hr>
	
		<div class="form-group">
			<label for="nameInput">Name</label>
			<input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
		</div>

		<div class="form-group">
			<label for="emailInput">Email address</label>
			<input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
		</div>
	
		<div class="form-group">
			<label for="passInput">Password</label>
			<input type="password" class="form-control" id="passInput" placeholder="Password">
		</div>

	
		<div class="form-group">
			<label for="confirmInput">Confirm Password</label>
			<input type="password" class="form-control" id="confirmInput" placeholder="Retype password">
		</div>
	
		<button type="button" class="btn btn-primary">Sign Up</button>
	
	</form><!-- end .signup-form -->

</div><!-- end .signup-box -->
